@import '../../theme/colors.scss';
@import '../../theme/text.scss';

.button {
  padding: 10px 45px;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 10px;
  font-size: map-get($heading-sm, 'font-size');
  font-weight: map-get($heading-sm, 'font-weight');
  cursor: pointer;

  &--primary {
    background-color: $primary;

    &:hover {
      background-color: $primary-light;
    }
  }

  &--secondary {
    background-color: $secondary;

    &:hover {
      background-color: $secondary-light;
    }
  }

  &--plain {
    color: $darkGray;
    background-color: $off-white;
    border: 1px solid $darkGray;

    &:hover {
      background-color: $gray;
      border: 1px solid $gray;
      color: $darkGray;
    }
  }

  &--disabled {
    background-color: $gray;
    cursor: not-allowed;
  }
}
