@import '../../theme/colors.scss';
@import '../../theme/text.scss';

.basket {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  text-align: center;

  &__heading {
    font-size: map-get($heading-sm, 'font-size');
    font-weight: map-get($heading-sm, 'font-weight');
    margin: 10px 0;
  }

  &__content {
    font-size: map-get($text, 'font-size');
    font-weight: map-get($text, 'font-weight');
    margin-top: 10px;
  }

  &__checkout {
    margin-top: 35px;
    width: 100%;
  }
}
