@import '../../theme/text.scss';
@import '../../theme/colors.scss';

.restaurant {
  display: flex;

  height: 100vh;
  overflow: scroll;

  &__menu {
    padding: 30px 50px;
  }

  &__heading {
    font-size: map-get($heading-lg, 'font-size');
    font-weight: map-get($heading-lg, 'font-weight');
  }

  &__menu-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__menu-list-item {
    width: 25%;

    @media screen and (max-width: 800px) {
      width: 40%;
    }

    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }

  &__basket {
    background-color: $off-white;
    width: 100%;
  }
}
