.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;

  &--hidden {
    display: none;
  }

  &__card {
    background-color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 50vw;
    padding: 15px 20px;
    border-radius: 5px;
  }
}
