@import '../../theme/colors.scss';
@import '../../theme/text.scss';

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;

  &__image {
    display: block;
    width: 150px;
  }

  &__heading {
    width: 100%;
    text-align: center;
    font-size: map-get($heading-sm, 'font-size');
    font-weight: map-get($heading-sm, 'font-weight');
    margin-top: 10px;
  }

  &__content {
    font-size: map-get($text, 'font-size');
    font-weight: map-get($text, 'font-weight');
    margin-top: 10px;
  }

  &__quantity {
    width: 100%;
    height: 40px;
    margin: 15px 0;
  }

  &__options {
    width: 100%;

    > label {
      display: block;

      > input {
        margin-right: 8px;
        color: $primary;
      }
    }
  }

  &__button-rack {
    display: flex;
    width: 100%;
  }

  &__add-order,
  &__cancel {
    margin-top: 20px;
    width: 100%;
  }

  &__cancel {
    margin-right: 30px;
    &-basic {
      display: none;
    }
  }
}
